body {    
    --color-primary: #003cff;
    --color-primary-dark: #3c06a1;
    --color-secondary: #343ea0;
    --color-error: #cc3333;
    --color-succes: #4bb544;
    --border-radius: 2px;

    display: grid;
    grid-template-columns: 25vw 15vw 5vw 15vw 15vw 25vw;
    grid-template-rows: 10vh 45vh 45vh;
    padding-left: 75px;
}

h1 {
    text-decoration: underline;
}

.container { 
    position: left;
    width: 1000px;
    max-width: 400px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0);
    border-radius: var(--border-radius);
    background: #ffffff5d;
}

.container,
.form__input,
.form__button {
    font-family: 'Quicksand', sans-serif;
}


