{% extends "base.html" %}
{% block content %}
    <div class="bungalow_info_container">
        <div class="bungalow_data_container">
            <h1>Bungalow De Bosuil</h1>
            <a href="../static/bungalow_2_new.jpg"><img src="../static/bungalow_2_new.jpg" alt="Bungalow 2" class="bungalow_details_img"></a>
            <div class="right_info">
                <h1>Prijs: €699,95 ,- per week</h1>
                <a href="/boek?id=2" class="reserveer">Boek nu!</a>
            </div>
        </div>
    </div>
{% endblock %}