{% extends "base.html" %}
{% block content %}
    <div class="bungalow_info_container">      
        <div class="bungalow_data_container">
            <h1>Bungalow De Fazant</h1>
            <a href="../static/bungalow_1_new.jpg"><img src="../static/bungalow_1_new.jpg" alt="Bungalow 1" class="bungalow_details_img"></a>
            <div class="right_info">
                <h1>Prijs: €499,95 ,- per week</h1>
                <a href="/boek?id=1" class="reserveer">Boek nu!</a>
            </div>
        </div>
    </div>
{% endblock %}